In [33]:
from itertools import product
import pandas as pd

In [53]:
def fair_coin(flips,k_number):
    # Flip coin
    coin_flips = list(product("HT", repeat=flips) )

    # Convert to dataframe
    df = pd.DataFrame(data=coin_flips)

    # I'm interested in Heads
    outcome = ['H']

    # add a column that tells me how many HEADS is in each row
    df['occurences'] = df.isin(outcome).sum(1)
    
    result = df.query('occurences == @k_number')
    print('A fair coin flipped', flips, 'times with', k_number, 'number of heads will show up', result.shape[0], 'times.')

    return result

In [96]:
fair_coin(6,5)

A fair coin flipped 6 times with 5 number of heads will show up 6 times.

    0  1  2  3  4  5  occurences
1   H  H  H  H  H  T           5
2   H  H  H  H  T  H           5
4   H  H  H  T  H  H           5
8   H  H  T  H  H  H           5
16  H  T  H  H  H  H           5
32  T  H  H  H  H  H           5

In [97]:
def loaded_coin(flips,k_number,load):
    # Flip coin
    coin_flips = list(product((load, round(1-load,2)), repeat=flips))

    # Convert to dataframe
    df = pd.DataFrame(data=coin_flips)

    # I'm interested in Heads
    outcome = [load]

    # add a column that tells me how many HEADS is in each row
    df['occurences'] = df.isin(outcome).sum(1)
    
    result = df.query('occurences == @k_number')
    print('A loaded coin with load of', load, ' when flipped', flips ,'times with', k_number, 'number of heads will show up', result.shape[0], 'times.')

    return result

In [58]:
loaded_coin(5,3,.8)

A loaded coin with load of 0.8  when flipped 5 times with 3 number of heads will show up 10 times.

      0    1    2    3    4  occurences
3   0.8  0.8  0.8  0.2  0.2           3
5   0.8  0.8  0.2  0.8  0.2           3
6   0.8  0.8  0.2  0.2  0.8           3
9   0.8  0.2  0.8  0.8  0.2           3
10  0.8  0.2  0.8  0.2  0.8           3
12  0.8  0.2  0.2  0.8  0.8           3
17  0.2  0.8  0.8  0.8  0.2           3
18  0.2  0.8  0.8  0.2  0.8           3
20  0.2  0.8  0.2  0.8  0.8           3
24  0.2  0.2  0.8  0.8  0.8           3

In [98]:
# Flip coin 12 times, find P(#Heads = 9), H load =0.8

def binomial_dist(n_times,k_number,load):
    n_factorial = [n for n in range(1,n_times+1)][(n_times-k_number):]
    k_factorial = [n for n in range(1,k_number+1)]

    def factorial(factorial):
        result = 1
        for n in factorial:
          result *= n
        return result   

    probability = ((factorial(n_factorial))/(factorial(k_factorial))) * (load**k_number) * ((1-load)**(n_times-k_number))
    return probability

In [95]:
binomial_dist(12,9,.8)

0.23622320128