## Quiz:
Find the probability of having **HEADS** to show up exactly **ONE** time in **3** coin flips.

With a **LOADED COIN** where there is **0.60** chance of landing in **HEADS**. 

Where as a **FAIR COIN** has **50/50** chance of HEAD or TAILS.

In [1]:
from itertools import product
import pandas as pd

In [9]:
h_load = .60


# result of 3 coin flips
coin_flips = list(product((h_load, (1-h_load)), repeat=3) )

# convert to dataframe 
df = pd.DataFrame(data=coin_flips)

df.columns = ['flip_1','flip_2','flip_3']

df

   flip_1  flip_2  flip_3
0     0.6     0.6     0.6
1     0.6     0.6     0.4
2     0.6     0.4     0.6
3     0.6     0.4     0.4
4     0.4     0.6     0.6
5     0.4     0.6     0.4
6     0.4     0.4     0.6
7     0.4     0.4     0.4

In [11]:
# the outcome I'm interested is HEADS
outcome = [.6]

# add a column that tells me how many HEADS is in each row
df['occurences'] = df.isin(outcome).sum(1)

df

   flip_1  flip_2  flip_3  occurences
0     0.6     0.6     0.6           3
1     0.6     0.6     0.4           2
2     0.6     0.4     0.6           2
3     0.6     0.4     0.4           1
4     0.4     0.6     0.6           2
5     0.4     0.6     0.4           1
6     0.4     0.4     0.6           1
7     0.4     0.4     0.4           0

In [12]:
# find the rows where exactly one HEADS occur
result = df.query('occurences == 1')

result

   flip_1  flip_2  flip_3  occurences
3     0.6     0.4     0.4           1
5     0.4     0.6     0.4           1
6     0.4     0.4     0.6           1

In [13]:
# probability formula

final_probability = (result.flip_1 * result.flip_2 * result.flip_3).sum()

print('The probability of one heads showing up in 3 coin flips is :',round(final_probability,3))

The probability of one heads showing up in 3 coin flips is : 0.288

# Probability of two fair dice

What is the probability of **doubles** showing up with two throws of dice?

* 1 1
* 2 2
* 3 3
* 4 4
* 5 5
* 6 6

In [16]:
# 6 sides of dice, thrown twice
6 ** 2

36

In [43]:
# result of 2 die throws
dice = {     'flip_1':  ['1','2','3','4','5','6',
                         '6','5','4','3','2','1',
                         '2','3','4','5','6','1',
                         '3','4','5','6','1','2',
                         '4','5','6','1','2','3',
                         '5','4','3','2','1','6'], 
              'flip_2': ['5','4','3','2','1','6',
                         '4','5','6','1','2','3',
                         '3','4','5','6','1','2',
                         '2','3','4','5','6','1',
                         '6','5','4','3','2','1',
                         '1','2','3','4','5','6']}
df = pd.DataFrame(data=dice)

df

   flip_1 flip_2
0       1      5
1       2      4
2       3      3
3       4      2
4       5      1
5       6      6
6       6      4
7       5      5
8       4      6
9       3      1
10      2      2
11      1      3
12      2      3
13      3      4
14      4      5
15      5      6
16      6      1
17      1      2
18      3      2
19      4      3
20      5      4
21      6      5
22      1      6
23      2      1
24      4      6
25      5      5
26      6      4
27      1      3
28      2      2
29      3      1
30      5      1
31      4      2
32      3      3
33      2      4
34      1      5
35      6      6

In [15]:
# each roll of die has 1/6 of an outcome or 0.166
each_roll = 1/6 

# each roll of dice times each roll of dice (since its two rolls) times 6 occurences of doubles
dice_double_probability = (each_roll * each_roll) * 6

dice_double_probability

0.16666666666666666